.font16{
    font-size: 1rem;
}
.font14{
    font-size: 14px;
}
.pad20
{
    padding-top: 10px;
}
.fontWeight700{
    font-weight: 700;
}
.section_subHeading{
    margin-bottom: 0;
    color: #1a3179;
    font-weight: 600;
    font-size: 1rem;
}
.subText{
    color: #686f79;
}
.uni_name{
    font-size: 14px;
    color: #58677c;
    font-weight:700;
}

.section_heading{
    font-size: 1.25rem;
    color: #1a3179;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    position: relative;
    margin-top: 0rem;
    line-height: 1.25;
}

.section_heading:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 95%;
    height: 1.5px;
    background: #8d9aad;
}