.m-auto
{
    margin:auto;
}
.profile_pic
{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.link
{
    color: #6c7a9c; 
    font-size: 1rem;
}

.nameHeading
{
    color: #6c7a9c;
    font-size: 2.25rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
    line-height: 1.25;
}
.roleHeading
{
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    color: #7081b9;
}

@media only screen and (max-width: 600px) 
{
    .mobile_text_center 
    {
    text-align:center;
    }
}