.tags{
    background-color: #1a3179;
    border: none;
    color: #fff;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 8px;
    margin-right: 4px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
}

.section_subHeading{
    margin-bottom: 0;
    color: #1a3179;
    font-weight: 600;
    font-size: 1rem;
}

.section_heading{
    font-size: 1.25rem;
    color: #1a3179;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    position: relative;
    line-height: 1.25;
}
.section_heading:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 95%;
    height: 2px;
    background: #8d9aad;
}