.fontSizeCustom
{
    font-size: 2rem;
}
.box
{
    border: 2px solid lightgray;
    width: 88%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 5px 10px #fffcfc;
}
.button
{
    margin-top: 1rem;
    padding: 10px;
    text-align: center;
    background-color: #f1ca85;
    color: black;
    font-weight: bold;
}
.button:hover
{
    background-color: #f7b33e;
    cursor: pointer;
}